.btn {
   background: transparent;
   border: 1px solid #FFFFFF;
   border-radius: 33.5px;
   width: 263px;
   height: 67px;
   margin-top: 31px;
}
._link {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #FFFFFF;
}