.header__menu-burger {
  background: #E5E5E5;
}
.header__menu-burger .menu-burger__conteiner .menu-burger__ul .menu-burger__list .menu-burger__item .menu-burger__link {
  @e;
}

.menu-burger {
  margin-top: 70px;
  background: url("/Users/user/Desktop/ITSOFT/img/header/menu-burger/menu-burger__fon.svg");
}